:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 { letter-spacing: 1px; margin: 0; }

h3 { border-bottom: 1px solid #bbb; padding-bottom: 10px; margin: 40px 0 10px; }

input {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.list { list-style-type: none; padding: 0; margin-bottom: 40px; }

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus { border-right: 5px solid #2ecc71; }
.list li.minus { border-right: 5px solid #c0392b; }

.reset-btn {
  background-color: #e74c3c; /* Red */
  margin-top: 20px;
}

.reset-btn:hover {
  background-color: #c0392b; /* Darker Red */
}