name: Finance Tracker CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

 
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }} 
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and Push Backend
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/finance-tracker:latest ./backend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/finance-tracker:latest

    - name: Build and Push Frontend
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/finance-frontend:latest ./frontend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/finance-frontend:latest

    - name: Verify Docker Compose config
      run: docker-compose config
